<div class="mainbox">
  <div class="leftbox">
    <div class="head1">Feld</div>
    <div class="head2">Alice</div>
    <div class="head2">Bob</div>
    <div *ngFor="let field of fields">
      <div *ngIf="!field.sum">
        <div class="field1">{{field.title}}</div>
        <div class="leer" onclick="FieldClick(0,1)" id="f0-1"> </div>
        <div class="leer" onclick="FieldClick(1,1)" id="f1-1"> </div>
      </div>
      <div *ngIf="field.sum">
        <div class="head1">{{field.title}}</div>
        <div class="head2" onclick="FieldClick(0,1)" id="f0-1"> </div>
        <div class="head2" onclick="FieldClick(1,1)" id="f1-1"> </div>
      </div>
    </div>
    <br>
    <div class="dicebox">
      <img id="d0" src="" alt="" class="dice" onclick="DiceClick(0)">
      <img id="d1" src="" alt="" class="dice" onclick="DiceClick(1)">
      <img id="d2" src="" alt="" class="dice" onclick="DiceClick(2)">
      <img id="d3" src="" alt="" class="dice" onclick="DiceClick(3)">
      <img id="d4" src="" alt="" class="dice" onclick="DiceClick(4)">
    </div>
    <div class="dicebox">
      <input class="btn" value="Roll" onclick="RollDices()" type="button">(<span id="rl">2</span> times)<p></p>
      <div id="statelink"><a href="index.html">Link to this state</a></div>
      <div id="newgame"><a href="index.html">New Game</a></div>
    </div>
  </div>
  <div class="rightbox" id="auswahlen">
  </div>