/* Boxes to divide whole page in Areas */

.mainbox {
    margin: 0px 0px 0px 0px; 
    min-height: 620px; 
    background-color:  #CCCCCC;
    font-family:Helvetica,Arial,sans-serif;
    font-size:16px; 
    width: 326px; 
    float: left;
  }
  
  p { padding: 4px; margin: 3px; }

  /* Width and Height of Fields */
  .expectation, .maxexpectation, .head1, .head2, .field1,.field2, .leer {
    margin-left: 4px; height: 20px; margin-top: 4px; margin-bottom: 0px;
  }
  .head1, .field1 { text-align:center; width:150px; float: left; }
  .head2, .field2,.expectation,.maxexpectation, .leer { text-align:center; width:80px; float: left; }
  
  /* Background Colors */
  .leer { background-color: #FFFFFF; color: lightgrey; }
  .expectation    { background-color: #FFDDDD; color: #999999; }
  .maxexpectation { background-color: #FFBBBB; color: #999999; }
  .head1, .head2  { background-color: #77FF77; }
  .field1,.field2 { background-color: #BBFFBB; }
  
  .roll, .field1, .field2 { cursor:hand; }
  
  .dicebox, .commentbox { margin-left: 4px; margin-top: 4px; text-align:center; width:318px; float: left; }
  .dicebox { height:85px; }
  .commentbox { color: grey; }
  .dice    { vertical-align:middle; cursor:hand; border:none;}
  
  .error { background-color:red; padding:8px 8px 8px 8px; width:75%;
           border:outset 2px red; margin-top:12%; margin-bottom:12%; }
  
  