/* Boxes to divide whole page in Areas */

.mainbox {
    margin: 0px 0px 0px 0px; 
    /* min-height: 620px; */ 
    background-color:  lightgrey;
    font-family:Helvetica,Arial,sans-serif;
    font-size:16px; 
    width: 326px; 
    float: left;
  }
  
  p { padding: 4px; margin: 3px; }
  a { color: inherit; text-decoration: none; }

  /* Width and Height of Fields */
  .expectation, .maxexpectation, .head1, .head2, .field1,.field2, .leer {
    margin-left: 4px; height: 20px; margin-top: 4px; margin-bottom: 0px;
  }
  .head1, .field1 { text-align:center; width:150px; float: left; }
  .head2, .field2,.expectation,.maxexpectation, .leer { text-align:center; width:80px; float: left; }
  
  /* Background Colors */
  .leer { background-color: #FFFFFF; color: lightgrey; }
  .expectation    { background-color: #FFDDDD; color: #999999; }
  .maxexpectation { background-color: #FFBBBB; color: #999999; }
  .head1, .head2  { background-color: #77FF77; }
  .field1,.field2 { background-color: #BBFFBB; }
  
  .roll, .field1, .field2 { cursor:hand; }
  
  .dicebox, .commentbox, .footer { margin-left: 4px; margin-top: 4px; text-align:center; float: left; }
  .dicebox { width:318px; height:85px; }
  .commentbox, .footer {color: grey; height:28px; background-color: lightgray; }
  .commentbox { width:270px; }
  .footer { width:20px; color: grey; font-size: 20px; padding: 0px; }
  .dice    { vertical-align:middle; cursor:hand; border:none;}
  
  .error { background-color:red; padding:8px 8px 8px 8px; width:75%;
           border:outset 2px red; margin-top:12%; margin-bottom:12%; }
  
  