<table>
  <tbody>
    <tr *ngFor="let field of fields" >
      <td *ngIf="field.sum" class="field-title-cell">{{field.title}}</td>
      <td *ngIf="!field.sum" class="sum-title-cell">{{field.title}}</td>
      <td *ngIf="field.sum" class="field-point-cell">{{field.points}}</td>
      <td *ngIf="!field.sum" class="sum-point-cell">
        <div *ngIf="field.points != null" >{{field.points}}</div>
        <div *ngIf="field.points == null" ><button (click)="field.points=points(field.id, dices); rollDice();">{{points(field.id, dices)}}</button></div>
      </td>
    </tr>
  </tbody>
</table>

<img *ngFor="let dice of dices" src="img/{{dice}}.gif">

<br/>
<button (click)="rollDice()">Roll Dice</button>